<!DOCTYPE html>
<html lang="en">
<head>
    <title>test template</title>

    <style>

        #wrap {
            border-radius: 25px;
            background: {{data.color}};
            padding: 30px;
            margin: 30px;
        }

    </style>
</head>
<body>
<div id="wrap">
    this is a test template
<h1>{{data.title}}</h1>
<div id="desc">
    description:     {{data.description}}
</div>
</div>
</body>
</html>
