<body style="box-sizing: border-box; margin: 0;">
<table class="main-body" style="box-sizing: border-box; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%; height: 100%; background-color: rgb(234, 236, 237);" width="100%" height="100%" bgcolor="rgb(234, 236, 237)">
    <tbody style="box-sizing: border-box;">
    <tr class="row" style="box-sizing: border-box; vertical-align: top;" valign="top">
        <td class="main-body-cell" style="box-sizing: border-box;">
            <table class="container" style="box-sizing: border-box; font-family: Helvetica, serif; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; height: 0px; width: 90%; max-width: 550px;" width="90%" height="0">
                <tbody style="box-sizing: border-box;">
                <tr style="box-sizing: border-box;">
                    <td class="container-cell" style="box-sizing: border-box; vertical-align: top; font-size: medium; padding-bottom: 50px;" valign="top">
                        <table class="c1766" style="box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: 0px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%; min-height: 30px;" width="100%">
                            <tbody style="box-sizing: border-box;">
                            <tr id="ilvqa" style="box-sizing: border-box;">
                                <td class="cell c1769" style="box-sizing: border-box; width: 11%;" width="11%"></td>
                                <td class="cell c1776" style="box-sizing: border-box; width: 70%; vertical-align: middle;" width="70%" valign="middle">
                                    <div class="c1144" style="box-sizing: border-box; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; font-size: 17px; font-weight: 300;">You got an invitation for a meeting [{{data.roomName}}]
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="card" style="box-sizing: border-box; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-bottom: 20px; height: 0px;" height="0">
                            <tbody style="box-sizing: border-box;">
                            <tr style="box-sizing: border-box;">
                                <td class="card-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; text-align: center;" bgcolor="rgb(255, 255, 255)" align="center">
                                    <img alt="call.webp" src="https://www.genardmethod.com/hubfs/FREE%20PHOTOS/video-conference-5167472_960_720%20--%20pixabay.webp" id="ie5gf" style="box-sizing: border-box; width: 514px; height: 308px;" width="514" height="308">
                                    <table class="table100 c1357" style="box-sizing: border-box; width: 100%; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-collapse: collapse;" width="100%" height="0">
                                        <tbody style="box-sizing: border-box;">
                                        <tr style="box-sizing: border-box;">
                                            <td class="card-content" style="box-sizing: border-box; font-size: 13px; line-height: 20px; color: rgb(111, 119, 125); padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; vertical-align: top;" valign="top">
                                                <h1 class="card-title" style="box-sizing: border-box; font-size: 25px; font-weight: 300; color: rgb(68, 68, 68);">Members:
                                                </h1>
                                                <p class="card-text" style="box-sizing: border-box;">{{data.memberName}}
                                                </p>
                                                <table class="c1542" style="box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%;" width="100%">
                                                    <tbody style="box-sizing: border-box;">
                                                    <tr style="box-sizing: border-box;">
                                                        <td id="c1545" class="card-footer" style="box-sizing: border-box; padding-top: 20px; padding-right: 0px; padding-bottom: 20px; padding-left: 0px; text-align: center;" align="center">
                                                            <a href="{{data.meetingLink}}"  target="_blank" class="button" style="box-sizing: border-box; font-size: 12px; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; background-color: rgb(217, 131, 166); color: rgb(255, 255, 255); text-align: center; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; font-weight: 300;">JOIN THE MEETING</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <a id="iq69e" style="box-sizing: border-box; color: #3b97e3;">{{data.metiongLink}}</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="footer" style="box-sizing: border-box; margin-top: 50px; color: rgb(152, 156, 165); text-align: center; font-size: 11px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;" align="center">
                            <tbody style="box-sizing: border-box;">
                            <tr style="box-sizing: border-box;">
                                <td class="footer-cell" style="box-sizing: border-box;">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
